<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-xs-12">
      <a class="navbar-brand logo" href="/">
        <span>Socket Chat</span>
      </a>
      <button type="button" href="/login" class="btn btn-default pull-right navbar-btn">Log in</button>
    </div>
  </div>
</nav>
  </div>
</nav>
