<html lang="en">
<% include ../partials/header %>

  <body>
    <% include ../partials/nav %>
<div class="container">
<div class="row box">
<div class="col-md-3 user">
  <div class="row" id="person">
    <div class="col-md-12">
    	<ul id="people-area" class="list-group"></ul>
    </div>
  </div>
  <div class="row">
	<div class="" id="login">
		<form class="form-inline col-md-12">
  		<input type="text" autocomplete="off" class="textfield input-small col-md-8" placeholder="Enter name" id="name">
			 <input type="button" name="join" id="join" value="Join" class="btn col-md-3">
		</form>
	</div>
  </div>
</div>
<div class="col-md-9" id="chat">
  <div class="row chat-up">
    <div class="col-md-12">
    	<ul id="message-area" class="list-group"></ul>
    </div>
  </div>
  <div class="row">
	<div class="" id="chat-box">
		<form id="2" class="form-inline col-md-12">
  			<input type="text" autocomplete="off" class="textfield input col-md-11" placeholder="Enter message" id="msg">
			<!-- <input type="button" name="send" id="send" value="Send" class="btn col-md-1"> -->
		</form>
	</div>
  </div>
</div>
</div>
</div>
</div>
</div>
  <script src="/socket.io/socket.io.js"></script>
       <% include ../partials/footer %>
        <% include ../partials/scripts %>
  </body>

</html>
